
<div class="container pt-5">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center "><b>Seller SignUp</b>
                </div>
                <div class="card-body">
                    <form action="">
                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="username"><b>UserName</b></label>
                                    <input type="text" class="form-control" id="username" placeholder="username" name="username" [(ngModel)]="sellerUsername">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="pass"><b>Password</b></label>
                                    <input type="password" class="form-control" id="pass" [(ngModel)]="sellerPassword"
                                        placeholder="password" name="password" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="pass"><b>Company</b></label>
                                    <input type="text" class="form-control" id="company" [(ngModel)]="sellerCompany"
                                        placeholder="Company" name="Company" />
                                </div>
                            </div>
                        </div>

                       <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="brief"><b>Brief</b></label>
                                    <input type="text" class="form-control" id="brief" [(ngModel)]="sellerBrief"
                                        placeholder="brief" name="brief" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="gst"><b>GST</b></label>
                                    <input type="number" class="form-control " id="gst" [(ngModel)]="sellerGst"
                                        placeholder="gst" name="gst" />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="address"><b>Address</b></label>
                                    <input type="text" class="form-control" id="address" [(ngModel)]="sellerAddress"
                                        placeholder="address" name="address" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="mail">Email</label>
                                    <input type="email" class="form-control " id="mail" [(ngModel)]="sellerEmail"
                                        placeholder="Email" name="email" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="phno">Contact</label>
                                    <input type="text" class="form-control " id="Contact" [(ngModel)]="sellerContact"
                                        placeholder="Contact" name="contact" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="Form-group mx-2 my-3">
                                    <label for="website">Website</label>
                                    <input type="text" class="form-control " id="website" [(ngModel)]="sellerWebsite"
                                        placeholder="Website" name="website" />
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary
                 float-right" (click)="addSeller()" >Register</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>